/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Manrope;
  src: url(https://fonts.google.com/specimen/Manrope);
}
 .cyjan {
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
   color: hsl(193, 38%, 86%);

}
.green
{
  font-family: Manrope;
  font-weight: 800;
  font-size: 28px;
  color: hsl(150, 100%, 66%);
}
